<%- include('partials/header.ejs', { title: 'Current Weather',  pageClass: 'weather-page', leaflet: true }) %>
 
    <div class="city-info">
        <h1> <%= weather.location.name %>, <%= weather.location.region %> </h1>
        <h2> <%= weather.location.country %></h2>
    </div>

    <div class="weather-dashboard">        
        <div class="card day-info">
            <div class="day">
                <h1> <%= weekDay %></h1>
                <h2> <%= formattedDate %></h2>
            </div>  

            <div class="card-content">
                <div class="weather-icon">
                    <img class="img" src="<%= weather.current.condition.icon %>" alt="Weather icon">
                    <h2> <%= weather.current.condition.text %></h2>
                </div>

                <div class="feel">
                    <h1> <%= weather.current.temp_c %>°C</h1>
                </div>
            </div>  <!-- End of card content --> 

            <div class="feel card-content">
                <h2 > Real feel </h2>
                <h1><%=weather.current.feelslike_c %>°C</h1>
            </div>        
        </div> <!-- End of card day-info -->

        <div class="wrapper">
            <div class="visibility-wind-humidity">
                <div class="card air-card">
                    <div class="card-content">
                        <img class="content" src="/images/visibility.png" alt="Visibility icon">
                        <h1> Visibility</h1>
                    </div>
                    <h2><%= visibilityKm %> km</h2>
                </div> <!-- End of card air-card -->
                    
                <div class="card wind-card">
                    <div class="card-content">
                        <img class="content" src="images/wind.png" alt="Wind icon">
                        <h1>Wind </h1>
                    </div>
                    <h2><%= weather.current.wind_kph %> km/h</h2>
                </div> <!-- End of card wind-card -->

                <div class="card humidity-card">
                    <div class="card-content">
                        <img class="content" src="/images/humidity.png" alt="Humidity icon">
                        <h1> Humidity</h1>
                    </div>
                    <h2><%= weather.current.humidity %>%</h2>
                </div> <!-- End of card humidity-card -->
            </div> <!-- End of visibility-wind-humidity -->

            <div class="sunrise-sunset">
                <div class="card sunrise-card">
                    <div class="card-content">
                        <img class="content" src="/images/sunrise.png" alt="Sunrise icon">
                        <h1> Sunrise</h1>
                    </div>
                    <h2> <%= astronomy.astronomy.astro.sunrise %></h2>
                </div> <!-- End of card sunrise-card -->

                <div class="card sunset-card">
                        <div class="card-content">
                            <img class="content" src="/images/sunset.png" alt="Sunset icon">
                            <h1> Sunset</h1>
                        </div>
                        <h2> <%= astronomy.astronomy.astro.sunset %></h2>
                </div> <!-- End of card sunset-card -->
            </div>
        </div>  <!-- End of wrapper -->
     </div>  <!-- End of weather-dashboard -->    
    
     <div class="forecast-map">
        <h1>6-Hour Forecast</h1>
            <div class="card-content">
                <div class="forecast-cards">
                    <% nextHours.forEach(function(hour) { %>
                        <div class="hour-card">
                            <h3><%= hour.time %></h3> 
                            <img class="forecast-icon" src= "<%= hour.condition_icon %>" alt="Weather Icon">
                            <p><%= hour.temp_c %>°C </p>
                        </div>
                    <% }); %>
                </div>
                
                <div id="map"></div>
            </div>   <!-- End of cards-content -->
    </div> <!-- End of forecast-map -->
    
    <script>
        // Latitude and longitude from the Express backend
        const latitude = "<%= lat %>";
        const longitude =  "<%= long %>";
        console.log("Latitude:", latitude, "Longitude:", longitude);
    
        // Initialize the map centered on latitude and longitude
        const map = L.map('map').setView([latitude, longitude], 13);
    
        // Add the map tile layer (images) from OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
        }).addTo(map);
    
        // Adaugă un marker în locația indicată
        L.marker([latitude, longitude]).addTo(map)
    </script>
    
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
            
    <%- include('partials/footer.ejs') %>